/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-black: #000000;
  --color-pink: #ffc9c9;
  --color-light-blue: #c4e5f2;
  --color-blue: #163040;

  /* Font size */
  --font-large: 64px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-reaular: 400;
  --weight-light: 300;
}

/* Uriversal tags */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body *::selection {
  background-color: #e4e4e4;
}
a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: unset;
}
ul {
  list-style: none;
}

/* Typotgraphy */
body > :not(#home, #contact) h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}
body > * {
  overflow: auto;
}
section.profileArea,
section.skillsArea > div,
section.projectsArea {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 5%;
}
header > div > ul li h2,
header > div > ul li h2 span,
section.profileArea > figure figcaption dl dt span:first-of-type,
section.projectsArea > ul li a:first-of-type div {
  font-family: "Noto Sans KR", sans-serif;
}

/* Navbar */
nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 30px 5% 13px;
  align-items: center;
  text-transform: uppercase;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
/* Navbar scroll */
nav.scrolled {
  padding-top: 13px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
nav.scrolled > h1 a,
nav.scrolled > ul li a {
  color: var(--color-black);
}
nav.scrolled > ul li a:before,
nav.scrolled > ul li a:after {
  background: rgba(0, 0, 0, 0.3);
}
nav.scrolled > div span {
  border-top: 3px solid var(--color-black);
}
nav * {
  color: var(--color-white);
}
nav > h1 a {
  font-size: 18px;
  font-weight: var(--weight-bold);
}
nav > ul {
  display: flex;
  flex-flow: row nowrap;
}
nav > ul.opend {
  display: block;
}
nav > ul li {
  margin-left: 20px;
}
/* Navbar a animation */
nav > ul li a {
  font-weight: var(--weight-reaular);
  padding: 3px 10px;
  position: relative;
}
nav > ul li a:before,
nav > ul li a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
nav > ul li a:before {
  top: 0px;
  transform: translateY(10px);
}
nav > ul li a:after {
  bottom: 0px;
  transform: translateY(-10px);
}
nav > ul li a.actived:before,
nav > ul li a.actived:after,
nav > ul li a:hover:before,
nav > ul li a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
/* Navbar hambuger */
nav > div {
  position: absolute;
  right: 5%;
  top: 21px;
  width: 22px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
nav.scrolled > div {
  top: 17px;
}
nav > div span {
  display: block;
  border-top: 3px solid white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
nav > div span:not(:last-of-type) {
  margin-bottom: 3px;
}
nav div.clicked span:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}
nav div.clicked span:nth-of-type(2) {
  transform: scaleX(0);
}
nav div.clicked span:nth-of-type(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* header */
header {
  background: url("../images/bg_01.jpg") no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header > div {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 0 60px 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* header ul */
header > div > ul li i {
  color: rgba(0, 0, 0, 0.7);
  font-size: var(--font-medium);
  margin-bottom: 30px;
}
header > div > ul li h2,
header > div > ul li h2 span {
  color: var(--color-white);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 84px;
  letter-spacing: -1px;
}
header > div > ul li h2 {
  margin-bottom: 50px;
}
header > div > ul li h2 span {
  color: var(--color-white);
  font-weight: 900px;
}
header > div > ul li p {
  width: 250px;
  margin: 0 auto;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  line-height: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Roboto Slab", serif;
}
/* header sns */
header > div > span {
  display: flex;
  position: absolute;
  bottom: 60px;
}
header > div > span a,
header > div > span a i {
  display: inline-block;
  transition: all 0.1s ease-in-out;
  color: rgba(0, 0, 0, 0.7);
  font-size: 28px;
}
header > div > span a:last-of-type {
  font-weight: var(--weight-bold);
  margin-left: 25px;
}
header > div > span a:hover,
header > div > span a i:hover {
  color: var(--color-light-blue);
}

/* Arrow Up */
body > a {
  position: fixed;
  bottom: 30px;
  right: 5%;
  padding: 2px 5px;
  color: var(--color-white);
  font-size: var(--font-medium);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}
body > a.arrowUp {
  opacity: 1;
  pointer-events: auto;
}
body > a:hover {
  color: var(--color-dark-white);
}

/*? footer */
footer {
  background: url("../images/bg_02.jpg") no-repeat center/cover;
  background-attachment: fixed;
  padding: 50px 0 20px;
  font-size: var(--font-medium);
}
footer > div {
  height: 220px;
  position: relative;
  margin-bottom: 20px;
}
footer > div > div {
  position: absolute;
  display: block;
  height: 200px;
  border-radius: 15px;
}
footer > div > div:nth-of-type(1) {
  top: 0px;
  left: 30%;
  width: 40%;
  background-color: var(--color-white);
  z-index: 100;
}
footer > div > div:nth-of-type(2) {
  top: 10px;
  left: 31%;
  width: 38%;
  background-color: var(--color-dark-white);
  z-index: 10;
}
footer > div > div:nth-of-type(3) {
  top: 20px;
  left: 32%;
  width: 36%;
  background-color: var(--color-light-grey);
  z-index: 1;
}
/* footer Contents */
footer > div > div:nth-of-type(1) span {
  display: block;
}
footer > div > div:nth-of-type(1) span:first-of-type {
  padding: 0 5%;
  line-height: 100px;
  font-weight: var(--weight-bold);
  background-color: transparent;
}
footer > div > div:nth-of-type(1) span:last-of-type {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 5%;
  line-height: 100px;
  background-color: var(--color-light-white);
  border-radius: 0 0 15px 15px;
  display: flex;
  font-size: 2vw;
}
footer > div > div:nth-of-type(1) span:last-of-type a {
  width: 20%;
  margin-left: 5%;
  background-color: var(--color-light-blue);
  border-radius: 0 0 15px 0;
  text-align: center;
  font-size: var(--font-medium);
}
footer > div > div:nth-of-type(1) span:last-of-type a i {
  transition: all 0.1s ease-in-out;
  color: var(--color-blue);
}
footer > div > div:nth-of-type(1) span:last-of-type a i:hover {
  color: var(--color-grey);
}
/* footer sns */
footer > span {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
footer > span a,
footer > span a i {
  display: inline-block;
  transition: all 0.1s ease-in-out;
  color: var(--color-white);
}
footer > span a:last-of-type {
  font-weight: var(--weight-bold);
  margin-left: 20px;
}
footer > span a:hover,
footer > span a i:hover {
  color: var(--color-light-blue);
}
footer > p {
  color: var(--color-light-grey);
  font-size: var(--font-small);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* mobile */
@media screen and (max-width: 767px) {
  :root {
    /* Font size */
    --font-large: 45px;
  }
  /* Navbar hambuger*/
  nav {
    flex-flow: column nowrap;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 18px 5%;
  }
  nav.scrolled {
    padding: 15px 5%;
  }
  nav > ul {
    flex-flow: column nowrap;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    text-align: center;
    display: none;
  }
  nav > ul li {
    margin-left: 0;
    padding: 5px 0;
  }
  nav > div {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  /* Home */
  header > div > ul li h2 {
    line-height: 55px;
  }
  header > div > ul li p {
    width: 200px;
    font-size: var(--font-micro);
    line-height: 20px;
  }

  /*? footer */
  footer {
    padding: 20px 0;
    font-size: 24px;
  }
  footer > div {
    height: 140px;
  }
  footer > div > div {
    height: 120px;
  }
  footer > div > div:nth-of-type(1) {
    left: 10%;
    width: 80%;
  }
  footer > div > div:nth-of-type(1) span:first-of-type {
    line-height: 60px;
  }
  footer > div > div:nth-of-type(1) span:last-of-type {
    line-height: 60px;
    font-size: var(--font-small);
  }
  footer > div > div:nth-of-type(1) span:last-of-type a {
    font-size: 24px;
  }
  footer > div > div:nth-of-type(2) {
    top: 8px;
    left: 11%;
    width: 78%;
  }
  footer > div > div:nth-of-type(3) {
    top: 16px;
    left: 12%;
    width: 76%;
  }
  /* footer sns */
  footer > span a:last-of-type {
    margin-left: 10px;
  }
  footer > p {
    font-size: var(--font-micro);
  }
}
