/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-black: #212529;
  --color-yellow: #fdf3be;
  --color-pink: #fe918d;
  --color-light-blue: #d0eaff;
  --color-blue: #60b8ff;
  --color-purple: #93abff;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-reaular: 400;
  --weight-light: 300;
}

/* Uriversal tags */
body {
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
  font-family: "Roboto";
}
body *::selection {
  background-color: var(--color-yellow);
  color: var(--color-black);
}
a {
  display: block;
  color: var(--color-black);
  text-decoration: none;
}
a:hover {
  color: unset;
}
ul {
  list-style: none;
}

/* Typotgraphy */
section.homeArea > div > ul li h2,
section.homeArea > div > ul li h2 span,
section.profileArea > figure figcaption dl dt span:first-of-type {
  font-family: "Nanum Gothic";
}
body > :not(#home, #contact) h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}
section.profileArea,
section.skillsArea > div,
section.projectsArea {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 5%;
}

/* Nav */
header {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 20px auto 0;
  padding: 13px 3%;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
}
header * {
  color: var(--color-white);
}
header > h1 a {
  font-size: 18px;
  font-weight: var(--weight-bold);
}
header > nav ul {
  display: flex;
  flex-flow: row nowrap;
}
header > nav ul li {
  margin-left: 30px;
}
header > nav ul li a {
  font-weight: var(--weight-light);
}
header > nav ul li a.active,
header > nav ul li a:hover {
  color: var(--color-dark-white);
}

/* Home */
section.homeArea {
  background: url("../images/bg_01.png") no-repeat center/cover;
  background-attachment: fixed;
}
section.homeArea > div:last-of-type {
  max-width: 1320px;
  margin: 0 auto;
  padding: 75px 0 30px;
  text-align: center;
}
/* Home ul */
section.homeArea > div > ul li i {
  font-size: var(--font-medium);
  margin-bottom: 56px;
}
section.homeArea > div > ul li h2 {
  color: var(--color-white);
  font-size: 52px;
  line-height: 63px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
section.homeArea > div > ul li h2 span {
  color: var(--color-white);
  font-size: 52px;
  font-weight: var(--weight-bold);
  line-height: 63px;
  letter-spacing: -1px;
  background-color: var(--color-light-pink);
}
section.homeArea > div > ul li p {
  width: 290px;
  margin: 0 auto;
  color: var(--color-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  line-height: 18px;
  margin-bottom: 118px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Roboto Mono";
}
/* Home url */
section.homeArea > div > span {
  display: block;
}
section.homeArea > div > span a {
  display: inline-block;
  transition: all 0.1s ease-in;
}
section.homeArea > div > span a,
section.homeArea > div > span a i {
  font-size: 20px;
}
section.homeArea > div > span a:hover {
  transform: scale(1.1);
}
section.homeArea > div > span a:last-of-type {
  font-weight: var(--weight-bold);
  margin-left: 1%;
}

/* Contact */
footer {
  background: url("../images/bg_02.png") no-repeat center/cover;
  background-attachment: fixed;
}
footer > div {
  max-width: 1320px;
  margin: 0 auto;
  padding: 70px 0 20px;
  text-align: center;
}
footer > div * {
  color: var(--color-light-white);
}
footer > div h2 {
  font-size: var(--font-medium);
  text-transform: uppercase;
  margin-bottom: 30px;
}
footer > div ul li:nth-of-type(1) a {
  color: var(--color-pink);
  font-size: 40px;
  margin-bottom: 30px;
}
footer > div ul li:nth-of-type(1) a:hover {
  transform: scale(1.1);
}
footer > div ul li:nth-of-type(2) a {
  display: inline-block;
  margin-bottom: 60px;
}
footer > div ul li:nth-of-type(2) a,
footer > div ul li:nth-of-type(2) a:first-of-type i {
  font-size: 24px;
  transition: all 0.1s ease-in;
}
footer > div ul li:nth-of-type(2) a:first-of-type:hover i {
  color: #1bbfaf;
}
footer > div ul li:nth-of-type(2) a:last-of-type {
  font-weight: var(--weight-bold);
  margin-left: 1%;
}
footer > div ul li:nth-of-type(2) a:last-of-type:hover {
  color: #ff632a;
}
footer > div ul li:nth-of-type(3) {
  color: var(--color-dark-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
}

/* mobile */
@media screen and (max-width: 767px) {
  /* Home */
  section.homeArea > div > ul li h2 {
    font-size: 40px;
    line-height: 55px;
  }
  section.homeArea > div > ul li h2 span {
    font-size: 40px;
  }
  section.homeArea > div > ul li p {
    width: 240px;
  }

  /* Contact */
  footer > div h2,
  footer > div ul li:nth-of-type(2) a,
  footer > div ul li:nth-of-type(2) a:first-of-type i {
    font-size: var(--font-regular);
  }
  footer > div ul li:nth-of-type(1) a {
    font-size: 20px;
  }
}
