/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-black: #000000;
  --color-yellow: #fdf3be;
  --color-pink: #fe918d;
  --color-light-blue: #d0eaff;
  --color-blue: #34a4ff;
  --color-purple: #93abff;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-reaular: 400;
  --weight-light: 300;
}

/* Uriversal tags */
* {
  box-sizing: border-box;
  font-family: "Roboto";
  color: var(--color-dark-grey);
}
*::selection {
  background-color: var(--color-yellow);
  color: var(--color-dark-grey);
}
body {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  color: var(--color-dark-grey);
  text-decoration: none;
}
a:hover {
  color: unset;
}
ul {
  list-style: none;
}

/* Typotgraphy */
body > :not(#home, #contact) h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}
section.profileArea,
section.skillsArea > div,
section.projectsArea {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 5%;
}

/* Home */
header {
  background: url("../images/bg_01.png") no-repeat center/cover;
}
header > div {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px 3% 30px;
  text-align: center;
}

/* Home nav */
header > div > div {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 70px;
  text-transform: uppercase;
  /* background-color: white; */
}
header > div > div h1 a {
  font-size: 18px;
  font-weight: var(--weight-bold);
}
header > div > div nav ul {
  display: flex;
}
header > div > div nav ul li {
  margin-left: 30px;
}
header > div > div nav ul li a:hover {
  color: var(--color-white);
}

/* Home ul */
header > div > ul li i {
  font-size: var(--font-medium);
  margin-bottom: 60px;
}
header > div > ul li h2 {
  color: var(--color-white);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  letter-spacing: -1px;
  line-height: 63px;
  margin-bottom: 30px;
}
header > div > ul li h2 span {
  color: var(--color-white);
  background-color: var(--color-pink);
}
header > div > ul li p {
  width: 50%;
  margin: 0 auto;
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  line-height: 16px;
  margin-bottom: 120px;
}

/* Home url */
header > div > span {
  display: block;
  font-size: 20px;
}
header > div > span a {
  display: inline-block;
}
header > div > span a:hover {
  transform: scale(1.2);
}
header > div > span a:last-of-type {
  font-weight: var(--weight-bold);
  margin-left: 1%;
}

/* Contact */
footer {
  background: url("../images/bg_02.png") no-repeat center/cover;
}
footer > div {
  max-width: 1320px;
  margin: 0 auto;
  padding: 70px 5% 20px;
  text-align: center;
}
footer > div * {
  color: var(--color-light-white);
}
footer > div h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  margin-bottom: 30px;
}
footer > div ul li:nth-of-type(1) a {
  color: var(--color-pink);
  font-size: var(--font-large);
  margin-bottom: 30px;
}
footer > div ul li:nth-of-type(1) a:hover {
  transform: scale(1.1);
}
footer > div ul li:nth-of-type(2) a {
  display: inline-block;
  font-size: var(--font-medium);
  margin-bottom: 60px;
  transition: all 0.1s ease-in;
}
footer > div ul li:nth-of-type(2) a:first-of-type i {
  transition: all 0.1s ease-in;
}
footer > div ul li:nth-of-type(2) a:first-of-type:hover i {
  color: #1bbfaf;
}
footer > div ul li:nth-of-type(2) a:last-of-type {
  margin-left: 1%;
  font-weight: 500;
}
footer > div ul li:nth-of-type(2) a:last-of-type:hover {
  color: #ff632a;
}
footer > div ul li:nth-of-type(3) {
  color: var(--color-dark-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
}
