/* Profile */
section.profileArea > figure {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}
section.profileArea > figure img {
  width: 35%;
  border-radius: 10px;
}
section.profileArea > figure figcaption {
  width: 60%;
  margin-left: 5%;
  padding: 25px 0;
}
section.profileArea > figure figcaption dl dt {
  margin-bottom: 25px;
  font-weight: var(--weight-reaular);
}
section.profileArea > figure figcaption dl dt span:first-of-type {
  font-size: 18px;
}
section.profileArea > figure figcaption dl dt span:last-of-type {
  color: var(--color-light-grey);
  margin-left: 1%;
}
section.profileArea > figure figcaption dl dd {
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  line-height: 16px;
}
section.profileArea > figure figcaption dl dd p:not(:last-of-type) {
  margin-bottom: 15px;
}

/* Skills */
section.skillsArea {
  background-color: var(--color-light-white);
}
section.skillsArea > div ul {
  padding: 0 10%;
}
/* Skills button */
section.skillsArea > div ul:first-of-type {
  display: flex;
  justify-content: center;
}
section.skillsArea > div ul:first-of-type li button {
  border: 1px solid var(--color-dark-white);
  font-size: var(--font-regular);
  width: 173px;
  padding: 5px 0;
  cursor: pointer;
}
section.skillsArea > div ul:first-of-type li:first-of-type button {
  border-radius: 4px 0 0 4px;
}
section.skillsArea > div ul:first-of-type li:last-of-type button {
  border-radius: 0 4px 4px 0;
}
section.skillsArea > div ul:first-of-type li:not(:first-of-type) button {
  border-left: none;
}
section.skillsArea > div ul:first-of-type li button.active,
section.skillsArea > div ul:first-of-type li button:hover {
  background-color: var(--color-light-yellow);
}
section.skillsArea > div ul:first-of-type li button span {
  display: inline-block;
  width: 13px;
  line-height: 13px;
  background-color: var(--color-pink);
  border-radius: 50%;
  font-size: var(--font-micro);
  margin-left: 2%;
  padding: 0.5px 0 0 0;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
section.skillsArea > div ul:first-of-type li button.active span,
section.skillsArea > div ul:first-of-type li button:hover span {
  opacity: 1;
  top: -1.4px;
}
/* Skills list */
section.skillsArea > div ul:last-of-type {
  display: flex;
  flex-wrap: wrap;
}
section.skillsArea > div ul:last-of-type li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-top: 30px;
}
section.skillsArea > div ul:last-of-type li i {
  font-size: 80px;
  margin-bottom: 10px;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(1) i {
  color: #f2672c;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(2) i {
  color: #32a9dc;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(3) i {
  color: #f2bf25;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(4) i {
  color: #0868ac;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(5) i {
  color: #61dafb;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(6) i {
  color: #83cd29;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(7) i {
  color: #22a7f2;
}
section.skillsArea > div ul:last-of-type li:nth-of-type(8) i {
  color: #0d2636;
}
section.skillsArea > div ul:last-of-type li span {
  margin-bottom: 10px;
}
section.skillsArea > div ul:last-of-type li div.progress {
  width: 75%;
  line-height: 3px;
  background-color: var(--color-white);
}
section.skillsArea > div ul:last-of-type li div div.progress-bar {
  background-color: var(--color-dark-grey);
}
